
{% extends 'landing.html'%}
{% block content%}
<div class="row" style="height: 200px;">
  <div class="col-sm-4 btn btn-primary" style="height: 200px;"><a href="/publish"><h4 style="color: antiquewhite;font:bold">Publishing</h4></a></div>
  <div class="col-sm-4 btn btn-warning" style="height: 200px;"><a href="/users"><h4 style="color: antiquewhite;font:bold">Users</h4></a></div>
  <div class="col-sm-4 btn btn-success" style="height: 200px;"><a href="/groups"><h4 style="color: antiquewhite;font:bold">Groups</h4></a></div>
</div>


{% endblock%}
